.comment {
    width: 90%;
    max-width: 800px;
    margin: 40px auto;
}

.comment div {
    width: 100%;
    max-width: 800px;
    margin: 10px auto;
    min-height: 40px;
    padding: 5px; 
    background-color: #c5c5c5c5;
    border-radius: 0px 5px 5px 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.comment div:hover {
    background-color: #c5c5c5c5;
}


