.cardBigger {
    width: 90%; 
    height: auto;
    max-width: 800px;
    margin: auto;
    display: flex;
    box-shadow: 0 0 1px 1px rgba(146, 146, 146, 0.1);
    border-radius: 5px;   
}

.interface {
    width: 100%;
    max-width: 300px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cardBigger img {
    width: 100%;
    max-width: 300px;
    border-radius: 5px 0 0 5px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: inherit;
    padding: 10px;
}

.textos {
    padding: 10px;
    color: var(--cor0);
    font-family: Arial, Helvetica, sans-serif; 
}

.textos h1 {
    font-size: 2em;
}

.textos p {
    text-align: justify;
    text-indent: 1cm;
    color: black;
}
