.section {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: var(--font-padrao);
}

.section img {
    width: 100%;
    max-width: 400px;
}